.dekstop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 2904px;
  position: relative;
}

.dekstop .rectangle {
  position: absolute;
  top: 2108px;
  right: 0;
  width: 1955px;
  height: 796px;
  background-color: #696766;
}

.dekstop .text-wrapper {
  position: absolute;
  top: 2197px;
  left: 135px;
  width: 660px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop .jl-raya-cipacing-no {
  position: absolute;
  top: 2347px;
  left: 135px;
  width: 639px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop .div {
  position: absolute;
  top: 2196px;
  left: 1098px;
  width: 533px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop .informasi-fakultas {
  position: absolute;
  top: 2347px;
  left: 1098px;
  width: 573px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop .p {
  position: absolute;
  top: 2836px;
  left: 702px;
  width: 553px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop .line {
  position: absolute;
  top: 2796px;
  left: 0;
  width: 1920px;
  height: 5px;
  object-fit: cover;
}

.dekstop .teknik-informatika {
  position: absolute;
  top: 3px;
  left: 19px;
  width: 1901px;
  height: 618px;
  aspect-ratio: 3.08;
  object-fit: cover;
}

.dekstop .teknik-industri {
  position: absolute;
  top: 621px;
  left: 0;
  width: 1920px;
  height: 624px;
  aspect-ratio: 3.08;
  object-fit: cover;
}

.dekstop .program-studi {
  position: absolute;
  top: 1322px;
  left: 72px;
  width: 1751px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
